<mat-toolbar [ngClass]="{ navbar: true, 'navbar-menu': isMenuRoute, 'navbar-other': !isMenuRoute }">
  <!-- <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button> -->

  <div class="typewriter" *ngIf="isMenuRoute">
    <div class="typewriter-wrapper">
      <span>Welcome</span>
      <span *ngIf="username" class="username animate-typewriter">{{ username }}!</span>
    </div>
  </div>

  <div class="holder">
    <button id="logout" mat-button (click)="logout()">Logout</button>

    <!-- Settings button triggers sidenav -->
    <img id="settings" src="../../../assets/pictures/settings.png" alt="Settings" class="settings-image" (click)="toggleSidenav.emit()" />
  </div>
</mat-toolbar>
