/* src/app/components/navbar/navbar.component.scss */

.navbar {
  position: relative; /* Needed for absolute positioning of inner elements */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 16px;
}

.typewriter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', monospace;
  font-size: 24px;
  white-space: nowrap;
  color: black;
}
.typewriter-wrapper {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 8px;
  color: black; // Custom color for the username
  font-weight: bold;
}

/* Typewriter animation triggered on username display */
.animate-typewriter {
  display: inline-block; /* Allows width to be animated */
  overflow: hidden;
  border-right: 3px solid rgba(0, 0, 0, 0.75); /* Cursor effect */
  animation:
    typing 3s steps(30, end) forwards,
    blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.navbar-other {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-content {
    display: flex;
    align-items: center;
    cursor: pointer;

    .back-arrow {
      margin-right: 8px; // Adjust as needed for spacing
    }
  }
}
.settings-icon {
  margin-left: auto; /* Push settings icon to the far right */
  display: flex;
  align-items: center;
}

.settings-image {
  width: 24px; /* Set the size of the icon */
  height: 24px;
  cursor: pointer;
  margin-right: 16px; /* Add some space to the right */
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
  }
}

.holder {
  margin-left: auto; /* Push holder to the far right */
  display: flex;
  align-items: center; /* Vertically center the contents */
  #logout {
    margin-right: 16px; /* Add some space to the left */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 20%;
  }
}
