<mat-toolbar *ngIf="showNavbar" [ngClass]="{ navbar: true, 'navbar-menu': isMenuRoute, 'navbar-other': !isMenuRoute }">
  <!-- Back Button -->
  <button mat-icon-button *ngIf="showBackButton" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <!-- Admin users: show button to go to /admin -->
  <div *ngIf="isAdmin; else regularUser">
    <button mat-button routerLink="/admin">Administrátorský panel</button>
  </div>

  <!-- Non-admins on /menu: typewriter greeting -->
  <ng-template #regularUser>
    <div class="typewriter" *ngIf="isMenuRoute">
      <div class="typewriter-wrapper">
        <span>Vitaj</span>
        <span #animatedUsername *ngIf="username" class="username animate-typewriter">{{ username }}!</span>
      </div>
    </div>
  </ng-template>

  <!-- Admin sub-buttons (only if already on /admin routes) -->
  <div class="admin-buttons" *ngIf="isAdminRoute">
    <button *ngIf="!isStatisticsPage" mat-button routerLink="/admin/statistics">Štatistika</button>
    <button mat-button (click)="triggerExerciseDialog()">Pridať novú úlohu</button>
  </div>

  <!-- Always show Logout -->
  <div class="holder">
    <button id="logout" mat-button (click)="logout()">Odhlásenie</button>
  </div>
</mat-toolbar>
