<div class="container">
  <div class="export-modal">
    <!-- Exercise Generation Section -->
    <div class="section exercise-generation">
      <h1>Generovanie cvičení</h1>

      <div class="input-group">
        <h2>Výber úloh</h2>
        <div class="difficulty-options">
          <div class="difficulty-option">
            <span>Ľahké</span>
            <input
              type="number"
              [(ngModel)]="easyCount"
              placeholder="Počet úloh"
              [disabled]="!isEasyEnabled"
              (input)="preventNegativeValue($event)" />
            <label>
              <mat-slide-toggle color="primary" type="checkbox" [(ngModel)]="isEasyEnabled" />
            </label>
          </div>
          <div class="difficulty-option">
            <span>Stredné</span>
            <input
              type="number"
              [(ngModel)]="mediumCount"
              placeholder="Počet úloh"
              [disabled]="!isMediumEnabled"
              (input)="preventNegativeValue($event)" />
            <label>
              <mat-slide-toggle color="primary" type="checkbox" [(ngModel)]="isMediumEnabled" />
            </label>
          </div>
          <div class="difficulty-option">
            <span>Ťažké</span>
            <input
              type="number"
              [(ngModel)]="hardCount"
              placeholder="Počet úloh"
              [disabled]="!isHardEnabled"
              (input)="preventNegativeValue($event)" />
            <label>
              <mat-slide-toggle color="primary" type="checkbox" [(ngModel)]="isHardEnabled" />
            </label>
          </div>
        </div>
      </div>

      <div class="input-group">
        <h2>Výber tém</h2>
        <div class="theme-list">
          <label *ngFor="let theme of themes">
            <input type="checkbox" [(ngModel)]="theme.selected" />
            {{ theme.theme_name }}
          </label>
        </div>
      </div>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="getData()">Generovať úlohy do PDF</button>
        <button mat-raised-button color="primary" (click)="generateExercisesPDF()" *ngIf="exercises.length">Export do PDF</button>
      </div>
    </div>

    <hr />

    <!-- User Statistics Section -->
    <div class="section user-statistics">
      <h1>Napisané testy používateľa</h1>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="generateStatisticsPDF()">Export do PDF</button>
      </div>
    </div>
  </div>
</div>
