<div>
  <h3>Normal Distribution Parameters</h3>
  <label>
    Mean (μ):
    <input type="number" [(ngModel)]="mean" (input)="updateDensityChart()" step="0.1" />
  </label>
  <br />
  <label>
    Standard Deviation (σ):
    <input type="number" [(ngModel)]="stdDev" (input)="updateDensityChart()" step="0.1" />
  </label>
  <br />
</div>

<div>
  <br />
  <label>
    <input type="checkbox" [(ngModel)]="showDataLabels" (change)="toggleDataLabels()" />
    Show Values on Graph
  </label>
</div>

<div>
  <apx-chart
    [series]="densityChartOptions.series"
    [chart]="densityChartOptions.chart"
    [xaxis]="densityChartOptions.xaxis"
    [yaxis]="densityChartOptions.yaxis"
    [annotations]="densityChartOptions.annotations"
    [dataLabels]="densityChartOptions.dataLabels"></apx-chart>
</div>
