<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <button mat-button color="warn" routerLink="../test" >Pisat test</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="warn">Napisane testy</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="warn">Statistika</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="warn">Export</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="warn">Materialy</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="warn">Nastavenia</button>
    </mat-grid-tile>
</mat-grid-list>