<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <button mat-button color="primary" routerLink="../test" >Pisat test</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="primary" routerLink="../done">Napisane testy</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="primary" routerLink="../stats">Statistika</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="primary">Export</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="primary" routerLink="../mats">Materialy</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button color="primary">Nastavenia</button>
    </mat-grid-tile>
</mat-grid-list>