<div class="container">
  <div class="mat-elevation-z8" id="table">
    <table mat-table [dataSource]="dataSource">
      <!-- Test ID Column -->
      <ng-container matColumnDef="test_id">
        <th mat-header-cell *matHeaderCellDef> Test ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.test_id }} </td>
      </ng-container>

      <!-- Exercises Column -->
      <ng-container matColumnDef="exercises">
        <th mat-header-cell *matHeaderCellDef> Exercises </th>
        <td mat-cell *matCellDef="let element"> {{ element.exercises | json }} </td>
      </ng-container>

      <!-- Cas_na_pisanie Column -->
      <ng-container matColumnDef="cas_na_pisanie">
        <th mat-header-cell *matHeaderCellDef> Cas na Pisanie </th>
        <td mat-cell *matCellDef="let element"> {{ element.cas_na_pisanie }} </td>
      </ng-container>

      <!-- Created_at Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{ element.created_at }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of exercises"></mat-paginator>
  </div>
</div>
