<div class="container">
  <div class="section">
    <!-- <mat-grid-list cols="2">
      <mat-grid-tile> -->
    <h1 id="pocetuloh">Počet úloh celkovo</h1>
    <!-- </mat-grid-tile>
      <mat-grid-tile> -->
    <input matInput type="number" placeholder="Počet úloh" />
    <!-- </mat-grid-tile>
    </mat-grid-list> -->
  </div>

  <div class="section">
    <h1 id="typuloh">Typ úloh</h1>
    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Ľahké</span>
            <mat-slide-toggle></mat-slide-toggle>
          </div>
          <div class="input">
            <input type="number" name="" id="" placeholder="Počet" />
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Stredné</span>
            <mat-slide-toggle></mat-slide-toggle>
          </div>
          <div class="input">
            <input type="number" name="" id="" placeholder="Počet" />
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Ťažké</span>
            <mat-slide-toggle></mat-slide-toggle>
          </div>
          <div class="input">
            <input type="number" name="" id="" placeholder="Počet" />
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="section">
    <!-- <mat-grid-list cols="2">
      <mat-grid-tile> -->
    <h1 id="casovylimit">Časový limit</h1>
    <!-- </mat-grid-tile>
      <mat-grid-tile> -->
    <input matInput type="time" />
    <!-- </mat-grid-tile>
    </mat-grid-list> -->
  </div>

  <div class="section">
    <button mat-raised-button color="primary" (click)="getData()">
      Generovať
    </button>
  </div>
</div>
