<div class="container">
  <div *ngIf="data && data.length > 0">
    <!-- Display exercises fetched from the database -->
    <div *ngIf="data.length > 0">
      <div class="exerciseModal" *ngIf="currentExercise">
        <div class="exercise-buttons">
          <button
            id="exerciseNavButton"
            *ngFor="let exercise of data; let i = index"
            (click)="jumpToExercise(i)"
            [class.selected]="i === currentExerciseIndex"
            [class.answered]="exercise.userAnswer !== undefined && exercise.userAnswer !== ''">
            {{ i + 1 }}
          </button>
        </div>
        <div class="timer-container">
          <div class="timer">Time left: {{ formatTime(timeLeft) }}</div>
        </div>
        <p class="exerciseDesc">
          Znenie úlohy:
          <br />
          {{ currentExercise.description }}
        </p>
        <div class="answer-lock">
          <input
            matInput
            type="text"
            [(ngModel)]="userAnswer"
            placeholder="Enter your answer"
            [disabled]="answerLocked"
            [value]="currentExercise.userAnswer ? currentExercise.userAnswer : ''" />
          <button mat-flat-button color="primary" id="answerCheck" (click)="checkAnswer()">
            {{ answerLocked ? 'Unlock Answer' : 'Lock Answer' }}
          </button>
          <p *ngIf="answerChecked">{{ answerMessage }}</p>
        </div>
      </div>
      <div *ngIf="!currentExercise">
        <p>No exercises available</p>
      </div>
    </div>
  </div>
  <div *ngIf="!data || data.length === 0">
    <p>No data available</p>
  </div>
</div>
