<!-- Search Bar -->
<div>
  <mat-form-field appearance="fill">
    <mat-label>Vyhľadávanie</mat-label>
    <input matInput placeholder="Search" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" />
  </mat-form-field>
</div>
<!-- Header Row -->
<div class="header-row">
  <span id="header-name" class="header-cell">Celé meno</span>
  <span id="header-points" class="header-cell">Počet bodov</span>
  <span id="header-date" class="header-cell">Dátum</span>
</div>
<!-- Accordion with paged data -->
<mat-accordion>
  <mat-expansion-panel *ngFor="let row of pagedStatisticsData" [hideToggle]="!row.test_exercises?.length">
    <mat-expansion-panel-header>
      <div class="data-row">
        <span id="data-name" class="data-cell">{{ row.full_name }}</span>
        <span id="data-points-earned" class="data-cell">{{ row.points_scored }}</span>
        <span id="data-divider" class="data-cell">/</span>
        <span id="data-maxpoints" class="data-cell">{{ row.max_points }}</span>
        <span id="data-date" class="data-cell">{{ row.submission_date | date: 'short' }}</span>
      </div>
    </mat-expansion-panel-header>
    <ng-container *ngIf="row.test_exercises?.length">
      <div *ngFor="let exercise of row.test_exercises" class="exercise-detail">
        <p>
          <strong>Znenie úlohy:</strong>
          {{ exercise.description }}
        </p>
        <p>
          <strong>Spravná odpoveď:</strong>
          {{ exercise.answer }}
        </p>
        <p>
          <strong>Odpoveď zadaný:</strong>
          {{ exercise.userAnswer || 'N/A' }}
        </p>
        <hr />
      </div>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>

<!-- Paginator (binds to the filtered data length) -->
<mat-paginator [length]="filteredDataLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" (page)="onPageChange($event)"></mat-paginator>
