
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Error Message Display -->
        <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>

        <div class="input-group mb-3">
          <input required 
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            [(ngModel)]="username" /> <!-- Bind username input -->
            
        
        </div>
        <div class="input-group mb-3">
          <input matInput [type]="hide() ? 'password' : 'text'"
            type="password"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            id="passwordInput"
            [(ngModel)]="password"
            required
            
          />
          
          <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      

          

    

        </div>
      </div>
      <div class="modal-footer">
        <!-- Button to trigger login -->
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
        <br />
        <!-- Menu button (as an alternative route) -->
        <button routerLink="menu" type="button" class="btn btn-secondary">Menu</button>
      </div>
    </div>
    <div id="logoHolder">
      <img
        src="../assets/pictures/stu_fei_logo.png"
        alt="STU FEI logo"
        class="img-fluid"
        id="logo"
      />
    </div>
  </div>
</div>
