<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Error Message Display -->
        <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>

        <div class="input-group mb-3">
          <input required type="text" class="form-control" placeholder="Prihlasovacie meno ais" aria-label="Username" [(ngModel)]="username" />
          <!-- Bind username input -->
        </div>

        <div class="input-group mb-3">
          <input
            matInput
            [type]="hide() ? 'password' : 'text'"
            class="form-control password-input"
            placeholder="Heslo"
            aria-label="Password"
            id="passwordInput"
            [(ngModel)]="password"
            required />
          <span class="input-group-append">
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
              tabindex="-1"
              class="visibility-button">
              <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <!-- Button to trigger login -->
        <button type="button" class="btn btn-primary" (click)="login()">Prihlásiť sa</button>
      </div>
    </div>
    <div id="logoHolder">
      <img src="../assets/pictures/stu_fei_logo.png" alt="STU FEI logo" class="img-fluid" id="logo" />
    </div>
  </div>
</div>
