<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>

<div class="section">
  <h1>Prednášky</h1>
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=25362">Úvod do teórie pravdepodobnosti</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26256">Podmienená pravdepodobnosť</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26290">Náhodná premenná</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26301">Charaktetistiky n.p.</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26302">Modus, medián...</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26329">Diskrétne rozdelenia</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26367">Limitné vety</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26368">Popisná štatistika</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26369">Vektor n.p., kovariancia a korelačný koeficient File</a>
</div>
<div class="section">
  <h1>Prednášky video</h1>
  <a href="https://www.youtube.com/watch?v=GzKX3BIspQU">Úvod do pravdepodobnosti</a>
  <br />
  <a href="https://www.youtube.com/watch?v=7_l3-0CwBnY">Podmienená pravdepodobnosť</a>
  <br />
  <a href="https://www.youtube.com/watch?v=sqRO-mhefxM">Kombinatorika</a>
  <br />
  <a href="https://www.youtube.com/watch?v=6kTUVsUPVXo">Náhodná premenná</a>
  <br />
  <a href="https://www.youtube.com/watch?v=kHcSUvN2xWk">Momenty</a>
  <br />
  <a href="https://www.youtube.com/watch?v=Db3pNB85eP0">Modus</a>

</div>

<div class="section">
<h1>Poznamky</h1>
<mat-accordion multi>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Úvod do teórie pravdepodobnosti
      </mat-panel-title>
      <mat-panel-description>
        Náhodné udalosti, Pravdepodobnosť, Kombinatorická pravdepodobnosť, Permutácie a kombinácie a variácie
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <strong>Náhodné udalosti:</strong> Sú popísané množinami. Istá udalosť zahŕňa všetky možné výsledky, zatiaľ čo nemožná udalosť je prázdna. Kombináciou a prienikom viacerých udalostí môžeme definovať nové udalosti. 
    </p>
    <br>
    <p><strong>Pravdepodobnosť:</strong> Zavádza funkciu, ktorá každému výsledku priraďuje hodnotu medzi 0 a 1, pričom pravdepodobnosť istého výsledku je 1. Základom je pravdepodobnostný priestor, ktorý definuje vzťahy medzi možnými udalosťami.</p>
    <br>
    <p><strong>Kombinatorická pravdepodobnosť:</strong> Využíva permutácie, kombinácie a variácie na výpočet pravdepodobností pre rôzne výbery prvkov z množiny, pričom sa zohľadňuje poradie a opakovanie prvkov.</p>
    <br>
    <p><strong>Permutácie a kombinácie:</strong> Permutácie počítajú usporiadané výbery bez opakovania, zatiaľ čo kombinácie sa zameriavajú na neusporiadané výbery. Kombinačné čísla nám pomáhajú určiť počet možných výberov z daného množstva prvkov. </p>
    <br>
    <p><strong>Variácie:</strong> Zvažujú usporiadané výbery, pričom môžu byť s opakovaním (napr. výber s možnosťou opakovaného výskytu prvkov) alebo bez opakovania. Variácie umožňujú detailnejšie modelovanie pri výpočtoch pravdepodobností. </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Podmienená pravdepodobnosť
      </mat-panel-title>
      <mat-panel-description>
        Podmienená pravdepodobnosť, Nezávislosť udalostí, Bayesova veta
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Independence of events: \( P(A \cap B) = P(A)P(B) \)</p>

  </mat-expansion-panel>
</mat-accordion>
</div>

