<div class="section">
  <h1>Prednášky</h1>
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=25362">Úvod do teórie pravdepodobnosti</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26256">Podmienená pravdepodobnosť</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26290">Náhodná premenná</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26301">Charaktetistiky n.p.</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26302">Modus, medián...</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26329">Diskrétne rozdelenia</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26367">Limitné vety</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26368">Popisná štatistika</a>
  <br />
  <a href="https://elearn.elf.stuba.sk/moodle/mod/resource/view.php?id=26369">Vektor n.p., kovariancia a korelačný koeficient File</a>
</div>
<div class="section">
  <h1>Prednášky video</h1>
  <a href="https://www.youtube.com/watch?v=GzKX3BIspQU">Úvod do pravdepodobnosti</a>
  <br />
  <a href="https://www.youtube.com/watch?v=7_l3-0CwBnY">Podmienená pravdepodobnosť</a>
  <br />
  <a href="https://www.youtube.com/watch?v=sqRO-mhefxM">Kombinatorika</a>
  <br />
  <a href="https://www.youtube.com/watch?v=6kTUVsUPVXo">Náhodná premenná</a>
  <br />
  <a href="https://www.youtube.com/watch?v=kHcSUvN2xWk">Momenty</a>
  <br />
  <a href="https://www.youtube.com/watch?v=Db3pNB85eP0">Modus</a>
</div>
