<div>
  <h3>Student's t-Distribution</h3>
  <label>
    Degrees of Freedom (n):
    <input type="number" [(ngModel)]="degreesOfFreedom" (input)="updateTChart()" min="1" />
  </label>
  <label>
    Range Start (a):
    <input type="number" [(ngModel)]="rangeA" (input)="updateTChart()" step="0.1" />
  </label>
  <label>
    Range End (b):
    <input type="number" [(ngModel)]="rangeB" (input)="updateTChart()" step="0.1" />
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="showMarkers" (change)="updateTChart()" />
    Show Markers
  </label>
</div>

<div>
  <p>
    Calculated Area (a = {{ rangeA }}, b = {{ rangeB }}):
    <strong>{{ calculatedArea }}</strong>
  </p>
</div>

<div>
  <apx-chart
    [series]="tChartOptions.series"
    [chart]="tChartOptions.chart"
    [xaxis]="tChartOptions.xaxis"
    [yaxis]="tChartOptions.yaxis"
    [markers]="tChartOptions.markers"
    [annotations]="tChartOptions.annotations"></apx-chart>
</div>
