<div class="container">
  <!-- Typ úloh -->
  <div class="section">
    <h1 id="typuloh">Výber úloh</h1>
    <mat-grid-list [cols]="gridCols" rowHeight="3:1">
      <!-- Ľahké -->
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Ľahké</span>
            <mat-slide-toggle color="primary" [(ngModel)]="isEasyEnabled"></mat-slide-toggle>
          </div>
          <div class="input">
            <input
              matInput
              type="number"
              [(ngModel)]="easyCount"
              placeholder="Počet úloh"
              id="easyCount"
              [disabled]="!isEasyEnabled"
              (input)="preventNegativeValue($event)" />
          </div>
        </div>
      </mat-grid-tile>

      <!-- Stredné -->
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Stredné</span>
            <mat-slide-toggle color="primary" [(ngModel)]="isMediumEnabled"></mat-slide-toggle>
          </div>
          <div class="input">
            <input
              matInput
              type="number"
              [(ngModel)]="mediumCount"
              placeholder="Počet úloh"
              id="mediumCount"
              [disabled]="!isMediumEnabled"
              (input)="preventNegativeValue($event)" />
          </div>
        </div>
      </mat-grid-tile>

      <!-- Ťažké -->
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Ťažké</span>
            <mat-slide-toggle color="primary" [(ngModel)]="isHardEnabled"></mat-slide-toggle>
          </div>
          <div class="input">
            <input
              matInput
              type="number"
              [(ngModel)]="hardCount"
              placeholder="Počet úloh"
              id="hardCount"
              [disabled]="!isHardEnabled"
              (input)="preventNegativeValue($event)" />
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- Výber tém -->
  <div class="section">
    <h1>Výber tém</h1>
    <mat-checkbox color="primary" *ngFor="let theme of themes" [(ngModel)]="theme.selected">
      {{ theme.theme_name }}
    </mat-checkbox>
  </div>

  <!-- Časový limit a Gamifikácia -->
  <div class="section">
    <mat-form-field id="timeSelect" appearance="fill">
      <mat-label>Časový limit</mat-label>
      <mat-select [(value)]="selectedTime">
        <mat-option *ngFor="let time of times" [value]="time">{{ time }} minút</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-slide-toggle color="primary" [(ngModel)]="isGamificationEnabled">Gamifikácia</mat-slide-toggle>
    <mat-icon (click)="openInfoDialog()" style="cursor: pointer">info</mat-icon>

    <br />

    <button mat-raised-button color="primary" (click)="getData()">Generovať</button>
  </div>
</div>
