.container {
  max-width: 60%;
  margin: auto;
  margin-top: 4%;
  padding: 20px;
  max-height: 80%;
  background-color: white;
  border-radius: 40px;
}

.section {
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centers the text horizontally */
  margin-top: 50px; /* Adjust the top margin as needed */
  background-color: lightgray;
  border-radius: 20px;
  padding: 1%;
}

.toggle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-section .toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-section .toggle span {
  margin-bottom: 5px; /* Adjust the spacing between the span and the toggle button */
}

.toggle-section .input {
  margin-top: 10px; /* Adjust the spacing between the toggle button and the input */
}

button {
  margin-top: 10px;
}

h1 {
  color: black;
}
span {
  color: black;
}

.invalid-input {
  border-color: red; /* Style for invalid input */
  background-color: rgba(255, 0, 0, 0.203);
}

#timeSelect {
  margin-top: 10px;
}
