<div class="container">
  <div class="section">
    <h1 id="pocetuloh">Počet úloh celkovo</h1>
    <input
      id="totalExerciseCount"
      matInput
      type="number"
      placeholder="Počet úloh"
      (input)="preventNegativeValue($event)"
    />
  </div>

  <div class="section">
    <h1 id="typuloh">Typ úloh</h1>
    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Ľahké</span>
            <mat-slide-toggle [(ngModel)]="isEasyEnabled"></mat-slide-toggle>
          </div>
          <div class="input">
            <input
              matInput
              type="number"
              placeholder="Počet úloh"
              id="easyCount"
              [disabled]="!isEasyEnabled"
              (input)="preventNegativeValue($event)"
            />
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Stredné</span>
            <mat-slide-toggle [(ngModel)]="isMediumEnabled"></mat-slide-toggle>
          </div>
          <div class="input">
            <input
              matInput
              type="number"
              placeholder="Počet úloh"
              id="mediumCount"
              [disabled]="!isMediumEnabled"
              (input)="preventNegativeValue($event)"
            />
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="toggle-section">
          <div class="toggle">
            <span>Ťažké</span>
            <mat-slide-toggle [(ngModel)]="isHardEnabled"></mat-slide-toggle>
          </div>
          <div class="input">
            <input
              matInput
              type="number"
              placeholder="Počet úloh"
              id="hardCount"
              [disabled]="!isHardEnabled"
              (input)="preventNegativeValue($event)"
            />
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="section">
    <h1 id="casovylimit">Časový limit</h1>
    <input matInput type="time" />
  </div>

  <div class="section">
    <button mat-raised-button color="primary" (click)="getData()">
      Generovať
    </button>
  </div>
</div>
