/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/theming';

// @include mat-core();

// $theme-primary: mat-palette($mat-red);
// $theme-accent: mat-palette($mat-yellow, A200, A100, A400);
// $theme-warn: mat-palette($mat-red);
// $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// @include angular-material-theme($theme);

// $theme:mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// @include angular-material-theme($theme);

@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// @import '/theme.scss';
// Import your custom theme

body {
  background-color: rgb(0, 57, 166); // Change this color to your desired background color
  // overflow: hidden;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden;
}

#zaklad {
  background-color: rgb(0, 57, 166);
}

#asdasd {
  background-color: grey;
}

html,
body {
  height: 100%; /* Ensure body fills the viewport */
  margin: 0; /* Remove default browser margins */
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.scrollable-container {
  min-height: calc(100vh - 64px); /* Example: Adjust for fixed headers, footers, etc. */
  overflow-y: auto; /* Allow internal scrolling only when content overflows */
  padding: 0 10px; /* Add horizontal padding only if necessary */
}
